from unittest import TestCase
from json import dumps
<FROM_IMPORT>
import requests
<IMPORT>

url = "<URL>"

headers = <HEADERS>

class <CLASS_NAME>(TestCase):
	<FOR>
	def <TEST_NAME>(self):
		payload = <PAYLOAD>
		response = requests.request(<METHOD>, url, headers=headers, data=dumps(payload))
		
		print("TEST")
		var = [1,2,3,4,5,6,87,7,56,15,1,6515,41,651,61,154]
		print(var)
		
		assert response.status_code == <STATUS_CODE>
		assert response.json()['Result'] == <ASSERT_RESULT>
	<END_FOR>